vscode/
CMakeCache.txt
cmake_install.cmake
Makefile
__pycache__/
CMakeFiles/
example.svf.bc
example.ll
svfModule_pybind.cpython-312-darwin.so
svfModule_pybind.cpython-39-darwin.so
*.db
*.dot
*.json
test.py
tcg.dot
example2.svf.bc
example2.ll